In [2]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import psycopg2
import numpy as np
import matplotlib.pyplot as plt
def create_and_insert_product():
    connection = psycopg2.connect(
        host="localhost",
        port=5432,
        database="ZaislaiProducts",
        user="postgres",
        password="truputukas1982"
    )
    drop_table_query = '''
        DROP TABLE IF EXISTS butai233
'''
    create_table_query = """
        CREATE TABLE butai233 (
        id SERIAL PRIMARY KEY,
        Adresas VARCHAR(255),
        Kambariu_sk INT,
        Plotas DECIMAL(10,2),
        Aukstas VARCHAR(255),
        Kaina DECIMAL(10,2),
        Kv_kaina DECIMAL(10,2)
        )
    """
    cursor = connection.cursor()
    cursor.execute(drop_table_query)
    cursor.execute(create_table_query)
    print('Table created successfully')
    Butu_sarasas = []
    for i in range(1,6):
        url = f'https://www.aruodas.lt/atviru-duru-dienos/puslapis/{i}/'
        response = requests.get(url)
        # print(response.content)
        soup = BeautifulSoup(response.content, 'html.parser')
        blokas = soup.find_all('div', class_='list-row-v2 object-row opendoor advert')
        for butas in blokas:
            Adresas = soup.select_one('div.list-adress-v2 h3').text.strip()
            Kambariu_sk = butas.find('div', class_='list-RoomNum-v2 list-detail-v2').text.strip()
            Plotas = butas.find('div', class_='list-AreaOverall-v2 list-detail-v2').text.strip()
            Aukstas = butas.find('div', class_='list-Floors-v2 list-detail-v2').text.strip()
            Kaina = butas.find('span', class_='list-item-price-v2').text.strip('€').replace(' ', '')
            Kv_kaina = butas.find('span', class_='price-pm-v2').text.strip().replace('€/m²', '').replace(' ', '').replace(',', '.')
            if Kambariu_sk == '' or Plotas == '' or Kaina == '' or Kv_kaina == '':
                continue
            Kambariu_sk = int(Kambariu_sk)
            Plotas = float(Plotas)
            Kaina = int(Kaina)
            Kv_kaina = float(Kv_kaina)
            Butu_sarasas.append((Adresas, Kambariu_sk, Plotas, Aukstas, Kaina, Kv_kaina))
            # print(Butu_sarasas)
    df = pd.DataFrame(Butu_sarasas, columns=['Adresas', 'Kambarius_sk', 'Plotas', 'Aukstas', 'Kaina', 'Kv_kaina'])
        # print(df)
    df.to_csv('Butai22.csv')
    insert_query = "INSERT INTO butai233 (Adresas, Kambariu_sk, Plotas, Aukstas, Kaina, Kv_kaina) VALUES(%s, %s,%s,%s,%s,%s)"
    cursor.executemany(insert_query, Butu_sarasas)
    print(f'Products inserted into list succesfully!')
    connection.commit()
        # cursor.close()
        # connection.close()
    select_query = "SELECT * FROM butai233"
        # cursor.execute(select_query)
        # Butu_sarasas = cursor.fetchall()
    df = pd.DataFrame(Butu_sarasas, columns = ['Adresas', 'Kambarius_sk', 'Plotas', 'Aukstas', 'Kaina', 'Kv_kaina'])
    print(df)
if __name__ == '__main__':
    create_and_insert_product()

Table created successfully
Products inserted into list succesfully!
                           Adresas  Kambarius_sk  Plotas Aukstas   Kaina  \
0   Vilnius, LazdynėliaiLietaus g.             1   32.21     2/4   86200
1   Vilnius, LazdynėliaiLietaus g.             1   30.70     2/4   81000
2   Vilnius, LazdynėliaiLietaus g.             3   59.82     4/4  153800
3   Vilnius, LazdynėliaiLietaus g.             1   31.00     4/4   86900
4   Vilnius, LazdynėliaiLietaus g.             2   43.00     1/4  122500
..                             ...           ...     ...     ...     ...
65             PalangaS. Nėries g.             5  200.00     0/1  315000
66             PalangaS. Nėries g.             0   80.00     0/1  140000
67             PalangaS. Nėries g.             0  348.60     0/2  418000
68             PalangaS. Nėries g.             5  249.68     0/2  299900
69             PalangaS. Nėries g.             0  100.00     0/1  167000

    Kv_kaina
0     2676.0
1     2638.0
2     2571.0
3     2803.0
4     2849.0
..       ...
65    1575.0
66    1750.0
67    1199.0
68    1201.0
69    1670.0

[70 rows x 6 columns]